{% extends 'base.html' %}

{% block title %}
	{{ data.titulo }}
{% endblock %}

{% block body %}
	<h1> Calculadora VLSM </h1>

	<main>
		<form class="container bg-dark">

			<div class="row">
				<label class="col">Nombre de la subred:</label>
				<input type="text" class="col">
			</div>

			<div class="row">
				<label class="col-3">Segmento de red</label>
	
				<div class="col-6 d-flex flex-row justify-content-start">
					<input type="number" id="primer_octeto"> </input> <span>.</span>
					<input type="number" id="segundo_octeto"> </input> <span>.</span>
					<input type="number" id="tercer_octeto"> </input> <span>.</span>
					<input type="number" id="cuarto_octeto"> </input> <span>/</span>
					<input type="number" id="prefijo"> </input> 
				</div>
			</div>

			<div class="row">
				<label class="col-3">Mascara</label>
				<div class="col-6 d-flex flex-row justify-content-start">
					<input type="number" id="mask1"> </input> <span>.</span>
					<input type="number" id="mask2"> </input> <span>.</span>
					<input type="number" id="mask3"> </input> <span>.</span>
					<input type="number" id="mask4"> </input> 
				</div>
	
			</div>
			
			<label> Ingrese los nombres de las subredes que se van a requerir. <span> (Los nombres deberan estar separados por , o / o |) </span> </label> </label>
			<textarea> </textarea>

		</form>

		
	</main>
{% endblock %}
